* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
	font-family: 'Avenir';
	src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype') url('../fonts/Avenir.ttf')  format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
}

html {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	font-family: 'Avenir', Helvetica, sans-serif;
}

body {
	overflow-x: hidden;
	height: fit-content;
	max-width: 50em;
	margin: 0 auto;
}

main {
	width: 85vw;
	margin: 2.5rem auto;
}

h1 {
	display: flex;
	align-items: center;
	color: #A00078;
	font-size: 250%;
	width: fit-content;
	margin: auto;
}

h1>span {
	display: flex;
	font-size: 1.5rem;
	color: #000000;
	align-items: center;
	writing-mode: vertical-rl;
}

h1>span>span {
	writing-mode: horizontal-tb;
	line-height: 60%;
	margin: -0.05rem 0.2rem 0 0;
}

section {
	margin-top: 2rem;
}

section>h2 {
	width: fit-content;
	border-bottom: solid 2px #A00078;
}

section ul {
	display: flex;
	overflow-x: scroll;
	margin-top: 1rem;
}

section article:nth-of-type(n+6) {
	display: none;
}

article+article {
	margin-left: 1rem;
}

article img {
	height: 11.688rem;
}

article div {
	display: none;
}

button {
	display: flex;
	align-items: center;
	border: none;
	background-color: unset;
	color: #A00078;
	margin-top: 0.4rem;
	cursor: pointer;
}

button::after {
	content: '\003E';
	font-size: 130%;
	margin-left: 0.3rem;
}

.hidden {
	display: none;
}

.show {
	display: block;
}