* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
	font-family: 'Avenir';
	src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype') url('../fonts/Avenir.ttf')  format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
}

html {
	margin: 0;
	padding: 0;
	font-family: 'Avenir', Helvetica, sans-serif;
}

body {
	max-width: 50em;
	margin: 0 auto;
}

main {
	width: 85vw;
	margin: 4rem auto;
}

h1 {
	display: flex;
	align-items: center;
	color: #A00078;
	font-size: 400%;
	width: fit-content;
	margin: auto;
}

h1>span {
	display: flex;
	color: #000000;
	align-items: center;
	writing-mode: vertical-rl;
}

h1>span>span {
	writing-mode: horizontal-tb;
	line-height: 60%;
	margin: -0.3rem 0.4rem 0 0;
}

.turn {
	transform: rotate(-90deg);
}

article {
	margin-top: 4rem;
}
